<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'templates_head.html' %}
    <title>shotinleg@ Web Search</title>
</head>
<body>
    <div class="container">
        <form method="GET" action="/search">
            <input name="q" class="form-control" type="text" placeholder="Enter yourt request here..." />
            <input class="form-control" type="submit" />
        </form>

        <div>
            {% for link in links %}
                <a href="{ link }">link</a></br>
            {% endfor %}
        </div>
    </div>

    {% include 'templates_body_footer.html' %}
</body>
</html>
