<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'templates_head.html' %}
    <title>shotinleg@ Web Search</title>
</head>
<body>
    <div class="container">
        <div class="" style="text-align: center; margin-top: 200px;">
            <a class="navbar-brand" href="/about">
                <img src="/static/icons/shotInLeg_splash_crcl.png" height="100px" /></ br>
            </a>
        </div>
        
        <div class="" style="text-align: center; margin-top: 100px; width: 100%;">
            <form method="GET" action="/search">
                <div class="row">
                    <div class="col">
                        <input name="q" class="form-control" type="text" placeholder="Поиск, например, Баранов Вячеслав Викторович" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="submit" value="Найти" />
                    </div>
                </div>
            </form>
        </div>
   </div>

    {% include 'templates_body_footer.html' %}
</body>
</html>
